{% extends "base.html" %}

{% block content %}

<h2>Availability</h2>

<form method="get" class="row g-3 mb-4">
    <div class="col-md-3">
        <label class="form-label">Start date</label>
        <input
            type="date"
            name="start"
            class="form-control"
            value="{{ start|date:'Y-m-d' }}">
    </div>

    <div class="col-md-3">
        <label class="form-label">End date</label>
        <input
            type="date"
            name="end"
            class="form-control"
            value="{{ end|date:'Y-m-d' }}">
    </div>

    <div class="col-md-2 align-self-end">
        <button class="btn btn-primary">
            Search
        </button>
    </div>
</form>

{% if availability %}

<div class="table-responsive">
<table class="table table-bordered table-hover align-midle">
    <thead class="table-light">
        <tr>
            <th>Room Type</th>
            {% for day in days %}
                <th class="text-center">
                    {{ day|date:"d/m" }}
                </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for row in availability %}
            <tr>
                <td>
                    {{ row.room_type }}
                </td>
                {% for cell in row.counts %}
                    <td class="text-center">
                        {% if cell.warning %}
                            <span class="text-danger fw-bold">
                                {{ cell.value }}
                            </span>
                        {% else %}
                            {{ cell.value }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}    
    </tbody>
</table>
</div>
{% endif %}
{% endblock %}