{% extends "base.html" %}

{% block content %}

<h2 class="mb-3">Guests</h2>

<div class="d-flex justify-content-between align-items-center mb-3">

<a href="{% url 'guest_create' %}" 

class="btn btn-primary mb-3">
    + Add Guest
</a>

<form method="GET" class="mb-3">

    <div class="input-group">

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search guest..."
            value="{{ search }}"
        >

        <button class="btn btn-outline-primary">
            Search
        </button>

    </div>

</form>

</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nationality</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for guest in guests %}
        <tr>
            <td>{{ guest.id }}</td>
            <td>{{ guest.first_name }}</td>
            <td>{{ guest.last_name }}</td>
            <td>{{ guest.nationality }}</td>
            <td>{{ guest.email }}</td>
            <td>{{ guest.phone }}</td>

            <td>
                <a href="{% url 'guest_update' guest.pk %}" class="btn btn-outline-primary btn-sm">
                    Edit
                </a>

                <a href="{% url 'guest_delete' guest.pk %}" class="btn btn-outline-secondary btn-sm">
                    Delete
                </a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="6" class="text-center">
                No guests found.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

