{% extends "base.html" %}

{% block content %}

<h2>Available Rooms</h2>

<p>{{ selected_date }}</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Room</th>
            <th>Type</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for room in rooms %}

        <tr>
            <td>{{ room.number }}</td>
            <td>{{ room.room_type }}</td>
        
            <td>
                {% if room.status == "CL" %}
                <span class="badge badge-clean">Clean</span>
                    
                {% elif room.status == "DI" %}
                <span class="badge badge-dirty">Dirty</span>
                    

                {% elif room.status == "IN" %}
                <span class="badge badge-inspected">Inspected</span>
                    
                {% elif room.status == "BL" %}      
                <span class="badge badge-blocked">Blocked</span>
                    
                {% endif %}
        
            </td>

             <td>
            <a href="{% url 'room_update' room.id %}" class="btn btn-outline-primary btn-sm">
                Edit
            </a>

            <a href="{% url 'room_delete' room.id %}" class="btn btn-outline-secondary btn-sm">
                Delete
            </a>

        </td>

        <tr>

        {% empty %}

        <tr>
            <td colspan="3">No available rooms.</td>
        </tr>

        {% endfor %}

    </tbody>


</table>

{% endblock %}